* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: hsl(208, 11%, 55%);
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}

h1 {
  width: 270px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

h2 {
  font-size: 1.3rem;
  margin: 0 auto 20px auto !important;
  width: fit-content;
}

header {
  background: #ecf9ff url(images/bg-hero-mobile.svg);
  padding: 30px 20px 30px 20px;
  margin-bottom: 50px;
}

.btn {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  box-shadow: 1px 1px 5px lightslategrey;
}

.btn:hover {
  cursor: pointer;
}

.card {
  box-shadow: 1px 1px 5px lightslategrey;
  border-radius: 10px;
  display: flex;
  padding: 50px 30px 30px 30px;
  margin-bottom: 40px;
}

.get-started-btn {
  width: 240px;
  height: 40px;
  background: hsl(322, 100%, 66%);
  color: #fff;
  margin: 0 auto;
}

.get-started-btn:hover {
  transition: 0.3s;
  background: #ff80d0;
}

.main {
  margin: 0 auto;
  width: 335px;
  position: relative;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.logo {
  width: 100px;
  height: 17px;
  align-self: center;
}

.top-btn {
  width: 100px;
  height: 30px;
  font-size: 0.7rem;
  background: #fff;
  color: hsl(192, 100%, 9%);
}

.top-btn:hover {
  transition: 0.3s;
  color: #005a70;
}

.header-body img {
  width: 100%;
  margin-top: 60px;
}

.header-description p {
  width: 100%;
  text-align: center;
  margin: 0 auto 30px auto;
  color: hsl(192, 100%, 9%);
}

.section-1,
.section-2,
.section-3,
.last-section {
  flex-direction: column;
}

.section-1 img,
.section-2 img,
.section-3 img {
  width: 235px;
  margin: 0 auto 50px auto;
}

.section-1 p,
.section-2 p,
.section-3 p {
  text-align: center;
  font-size: 1rem;
}

.last-section {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-top: -30px;
  position: relative;
  background: #fff;
  bottom: -100px;
}

.last-section h2 {
  font-size: 1.1rem;
}

.last-section .get-started-btn {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  background: hsl(192, 100%, 9%);
  color: #fff;
  padding: 130px 15px 50px 15px;
}

.infos {
  margin-bottom: 50px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 20px;
}

.adress {
  display: flex;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 20px;
}

.adress svg {
  width: 13px;
  height: 16px;
  margin-top: 3px;
}

.adress p {
  font-size: 1rem;
  width: 332px;
}

.phone {
  display: flex;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 20px;
}

.email {
  display: flex;
  font-size: 1rem;
  width: 100%;
}

.adress img,
.phone img {
  width: 13px;
  height: 16px;
  margin-right: 10px;
}

.email img {
  width: 18px;
  height: 16px;
  margin-right: 10px;
  align-self: center;
}

.useful-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.useful-links a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 20px;
}

.useful-links a:last-child {
  margin-bottom: 0;
}

.socials {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.socials img:hover {
  cursor: pointer;
  color: red;
}

.socials .twi {
  height: 49px;
  align-self: center;
  margin-left: 15px;
  margin-right: 10px;
}

.socials .ig {
  height: 57px;
}

.fb svg:hover path,
.twi svg:hover path,
.ig svg:hover stroke {
  transition: 0.3s;
  fill: hsl(322, 100%, 66%);
}

.contact .copyrigth {
  font-size: 0.7rem;
  display: block;
  width: 236px;
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  .main {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    margin: 0 0 20px 0;
    text-align: left;
  }

  h2 {
    margin: 0 !important;
    width: fit-content;
  }

  .main {
    margin: 0;
    width: 100%;
    padding-top: 75px;
  }

  .header {
    padding: 30px;
    margin-bottom: 0;
  }

  .header-top {
    margin-bottom: 50px;
  }

  .header-body {
    display: flex;
  }

  .header-body img {
    width: 40%;
    margin: 0;
  }

  .header-description {
    align-self: center;
  }

  .header-description p {
    margin: 0 0 30px 0;
    text-align: left;
    font-size: 0.8rem;
    width: 90%;
  }

  .get-started-btn {
    margin: 0;
    font-size: 1rem;
  }

  .card {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto 30px auto;
    flex-direction: row-reverse;
  }

  .card .section-body {
    align-self: center;
  }

  .card .section-body h2 {
    margin-bottom: 20px !important;
  }

  .card:nth-child(2) {
    flex-direction: row;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .section-1 p,
  .section-2 p,
  .section-3 p {
    text-align: left;
    width: 500px;
  }

  .section-1 img,
  .section-2 img,
  .section-3 img {
    width: 27%;
    margin: 0;
  }

  .last-section {
    width: 60%;
    flex-direction: column;
    padding-bottom: 40px;
  }

  .last-section h2 {
    font-size: 1.4rem;
    margin: 0 auto 25px auto !important;
  }

  .last-section .btn {
    margin: 0 auto;
  }

  .footer {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 170px;
  }

  .footer-body {
    display: flex;
    justify-content: space-between;
  }

  .infos {
    margin: 0;
    width: 26%;
  }

  .useful-links {
    margin: 0;
    flex-wrap: wrap;
    height: 150px;
  }

  .useful-links a {
    width: 150px;
  }

  .footer-logo {
    width: 250px;
    height: 40px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
